@import "gallery-styles";

.pg-img-thumbnail {
    height: 100%;
    filter: blur(25px);
}

.pg-img-description{
    bottom: 0;
    background-color: $gallery-bg-color-transparent;
    color: white;
    padding: $image-description-height/2 0;
    position: absolute;
    text-align: center;
    width: 100%;
}

.pg-img-link {
    color: white;
    text-decoration: none;

    &:hover, &:focus{
        color: white;
        text-decoration: underline;
    }
}