@import 'variables';

.pg-gallery {
    position: relative;
    height: $gallery-height;
    background-color: $gallery-bg-color;
    overflow: hidden;
}

.pg-thumbnail {
    height: 100%;
    filter: blur(25px);
}

.pg-img-wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    transform: scale(.5);
    transition: transform .5s ease-out;
}

.pg-img-main {
    transform: scale(1);
    transition: transform .5s ease-out;
}

