@import 'gallery-styles';

.pg-gallery {
    position: relative;
    height: $gallery-height;
    background-color: $gallery-bg-color;
    overflow: hidden;

    @include mq-medium {
        height: $gallery-height-medium;
    }
    
    @include mq-large {
        height: $gallery-height-large;
    }
}

.pg-thumbnail {
    height: 100%;
    filter: blur(25px);
}

.pg-img-wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    transform: scale(.5);
    transition: $slide-transition;
}

.pg-img-main {
    transform: scale(1);
    transition: $slide-transition;
}

