//colors

$gallery-bg-color: rgba(33, 33, 36, 1);
$gallery-bg-color-transparent: rgba(33, 33, 36, .6);

//dimensions
$image-description-height: 40px;

$gallery-height: 450px;
$gallery-height-medium: 550px;
$gallery-height-large: 700px;

//animations
$slide-transition: transform .5s ease;

//media queries
$medium-width: 768px;
$large-width: 1150px;