.pg-gallery {
    position: relative;
    height: 800px;
    background-color: #212124;
    overflow: hidden;
}

.pg-canvas {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform .5s ease-out;
}

.pg-thumbnail {
    height: 100%;
    filter: blur(25px);
}

.pg-img-wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    transform: scale(.5);
    transition: transform .5s ease-out;
}

.pg-img-main {
    transform: scale(1);
    transition: transform .5s ease-out;
}

.pg-arrow {
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    z-index: 100;
    opacity: .3;
}

.pg-arrow:hover, .pg-arrow:focus {
    opacity: 1;
    cursor: pointer;
}

.pg-disabled:hover, .pg-disabled:focus, .pg-disabled {
    opacity: .3;
    cursor: default;
}

.pg-left-arrow {
    left: 0;
}

.pg-right-arrow {
    right: 0;
}

.pg-canvas img {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    max-height: 400px;
    max-width: 100%;
}
