@import 'variables';
@import 'mixins';
.pg-canvas {
    height: 100%;
    transition: transform .5s ease-out;
    img {
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        max-height: $gallery-height;
        max-width: 100%;
        @include mq-medium {
            max-height: $gallery-height-medium;
        }
        @include mq-large {
            max-height: $gallery-height-large;
        }
    }
}